section {
    position: fixed;
    top: 0;
    background-color: green;
    height: 80px;
    width: 100%;
}

h1 {
    color: beige;
    text-decoration-line: underline;
    text-decoration-color: orange;
}